.delete-done-button {
  width: initial;
  height: initial;
  color: var(--link-color);
  text-decoration: underline dashed 1px;
  text-underline-offset: 4px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-duration: .22s;
  transition-duration: .22s;
}

.container {
  background-color: var(--container-color);
  max-width: 920px;
  margin: 2em auto 1em;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  border-radius: 8px;
  padding: 1em 1.5em 2em;
}

.menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.6em 2em;
  margin-bottom: 1em;
}

.menu-right-col {
  display: flex;
  gap: 0.6em 1em;
  flex-wrap: wrap;
}

@media screen and (max-width: 1037px) {
  .container {
    margin-top: 1em;
  }
}

@media screen and (max-width: 685px) {
  .menu-right-col {
    flex-direction: row-reverse;
    justify-content: flex-end;
    flex-wrap: wrap-reverse;
  }
}

@media screen and (max-width: 428px) {
  .container {
    padding: 0.5em 1em 1.5em;
  }
}

@media (hover: hover) {
  .delete-done-button:hover {
    color: var(--link-color-hover);
    -webkit-transition: none;
    transition: none;
  }
}