.new-task-input {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
  margin-right: -0.8em;
}

.new-task-input__input {
  box-sizing: border-box;
  width: 100%;
  height: 2.5em;
  border: 1px solid #bfc5cd;
  border-radius: 8px;
  padding: 0.5em 0.75em 0.6em;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  font: inherit;
}

@media screen and (max-width: 428px) {
  .new-task-input {
    margin-bottom: 1.5em;
  }
}
