.filter {
  display: flex;
  column-gap: 1em;
  flex-wrap: wrap;
}

.filter input+span {
  color: var(--link-color);
  text-decoration: underline dashed 1px;
  text-underline-offset: 4px;
  cursor: pointer;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-duration: .22s;
  transition-duration: .22s;
}

.filter input:focus+span {
  outline-style: solid;
  outline-color: transparent;
  box-shadow: 0 0 0 2px #0060df;
  border-radius: 1px;
}

.filter input+span:hover {
  color: var(--link-color-hover);
  -webkit-transition: none;
  transition: none;
}

.filter input {
  position: absolute;
  opacity: 0;
}

.filter input:checked+span {
  color: var(--text-color);
  text-decoration: none;
  cursor: default;
}

.filter input:disabled+span {
  color: var(--text-color-disabled);
  text-decoration: none;
  cursor: default;
}