.task {
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  border-radius: 8px;
  padding: 0.25em;
  margin-bottom: 1.5em;
  box-sizing: border-box;
}

.task input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  width: 2.5em;
  height: 2.5em;
  margin: 0;
  background-image: url(/public/icon/square.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.task input[type="checkbox"]:checked {
  background-image: url(/public/icon/check-square.svg);
  background-color: transparent;
}

.task input[type="checkbox"]:checked+textarea {
  text-decoration: line-through;
  color: var(--text-color-disabled);
}

.task textarea {
  font: inherit;
  box-sizing: border-box;
  resize: none;
  overflow: hidden;
  width: 100%;
  padding: 0 0.25em;
  margin: 0.45em 0;
  border: none;
  line-height: 1.6;
  appearance: none;
  -webkit-appearance: none;
  align-self: center;
}

.task:last-child {
  margin: 0;
}
